.credentialsEdit{

    color: darkblue;
    width: fit-content;
    padding-bottom: 20px;


    .formGroup{
        padding-top: 20px;
        float: center;
        padding-bottom: 10px;
        .form-label{
            display: block;
            margin-bottom: 3px;
            margin-top: 10px;
            text-align: left;
        }
        .form-control{
            width: 100%;
            min-height: 25px;
            padding-left: 5px;
            border-radius: 1px;
            box-shadow: inset;
            border: none;
            border-bottom: 2px solid #1867b7;
        }
    }
    .card{
        width: fit-content;
        height: fit-content;
        margin-top: 10px;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
        .btn{
            height: 20px;
            padding-left: 10px;
            padding-bottom: 2px;
            color: green;
            border-color: green;
            float: right;
        }
        .btn:hover{
            background-color: green;
            color: white;
        }
    }
}
