
th, td {
    border-bottom: 1px solid #8fcae6;
    padding-bottom: 5px;
    padding-top: 5px;
}
// tr:nth-child(even) {
//     background-color: #8fcae6;
// }
table{
    border-collapse: collapse;
    width: 95%;
    text-align: center;
    font-style: sans-serif;
    margin-left: 10px;

}

.thLeft{
    text-align: left;
}
.hide{
    display: none;
}
.thRight {
    text-align: right;
}
.elementK8s{
    text-decoration: none;
    color: #1867b7;
}
.elementK8s:hover{
    text-decoration: underline;
}